*{
    margin: 0;
    padding: 0;
}

.link1 a{
    color:steelblue;
}

#map {
    position: relative;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    float: left;
    margin: 0px;
    border: none;
}

#menu {
    position: relative;
    height: 100%;
    width: 25%;
    float: right;
    background-color: skyblue;
}

ul {
    list-style: none;
}

html, body {
    background-color: skyblue;
    height: 100%;
    margin: 0;
    padding: 0;
}
